@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --background-light: #f5f5f5; /* Light background */
  --primary-color: #ff6b6b; /* Same primary color for branding */
  --secondary-color: #333333; /* Dark text color */
  --input-bg: #ffffff; /* White background for inputs */
  --input-border: #dddddd; /* Light grey border for inputs */
  --button-bg: #ff6b6b; /* Red button background */
  --button-hover-bg: #ff4f4f; /* Darker red for button hover */
  --text-muted: #777777; /* Muted text color */
  --error-color: #ff5252; /* Error color remains the same */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
}

body {
  background-color: var(--background-light);
  color: var(--secondary-color); /* Dark text color for readability */
}

.logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.logo i {
  margin-right: 0.5rem;
}
